<li>
	{{name}}

	
	<button class="change-eat" data-id="{{id}}" data-neweat="{{eat}}">
		{{#if eat}}
		
		EAT TIME!
		
		{{else}}
		Regurtitate Burger!
	
		<button class="delete-eat" data-id="{{id}}" data-neweat="{{eat}}">
		
		Digest this Burger

		
		{{/if}}
	</button>
</li>
